@model WebClientMVC.Models.SenderModel
@{
    ViewBag.Title = "Logged in";
}

<div class="col-md-12">
    <div class="col-md-3">
        <img style="border:2px solid #888888;border-radius:50%;height:40%;width:40%;background-color:white;" src="~/Resources/profile.png" />
        <h2 style="color:black;">@Model.FirstName @Model.LastName</h2><hr />
        <div id="options">
            <ul>
                <li><a href="@Url.Action("SentPackages",new WebClientMVC.Models.LoginPassModel() { Username=Model.Username})">Sent packages</a></li>
                <li id="noborder"><a href="@Url.Action("Points")">Point topup</a></li>
                <li style="display:none"><a href="@Url.Action("Edit", "Sender",new { Username = Model.Username })">Edit information</a></li>
            </ul>
        </div>
        
        <br />
        <br />
        <br />
    </div>
    <div class="col-md-9">

    </div>
</div>
@Html.ActionLink("Log out", "Logout")
