@model IEnumerable<WebClientMVC.Models.PackageModel>

@{
    ViewBag.Title = "Delivery requests";
}

<h2>Delivery requests</h2>
<div class="col-md-12">
    <div class="col-md-2" id="filters">
        <form>
            <span class="col-md-6">Big:</span> <input type="checkbox" class="col-md-6"/><br />
            <span class="col-md-6">Medium:</span> <input type="checkbox" class="col-md-6"/><br />
            <span class="col-md-6">Small:</span> <input type="checkbox" class="col-md-6"/><br />
            <span class="col-md-6">Minimum price:</span> <input type="text" class="col-md-1 form-control"/><br />
            <span class="col-md-6">Maximum price:</span> <input type="text" class="col-md-2 form-control"/><br />
            <span class="col-md-6">Minimum distance:</span> <input type="text" class="col-md-2 form-control"/><br />
            <span class="col-md-6">Maximum distance:</span> <input type="text" class="col-md-2 form-control"/><br />

        </form>
    </div>
    <div class="col-md-10" id="packages">
        @for (int i = 0; i < 10; i++)
        {
        foreach (var a in Model)
        {
            <div class="col-md-4 col-sm-12">
                <div class="package">
                    <div class="package_pic">
                        <img src="~/Resources/package.png"/>
                    </div>
                    <div class="package_desc">
                        <div class="addressDiv">
                            <p class="addressLine"><b>Pickup:</b> @a.FromAddress</p>
                            <p class="addressLine"><b>Dropdown:</b> @a.ToAddress</p>
                        </div>
                        <div class="informations col-md-12 col-sm-12">
                            <div class="info col-md-3">
                                <p>Distance (km)</p>
                                <h3>@a.Distance</h3>
                            </div>
                            <div class="info col-md-3">
                                <p>Width (cm)</p>
                                <h3>@a.Width</h3>
                            </div>
                            <div class="info col-md-3">
                                <p>Height (cm)</p>
                                <h3>@a.Height</h3>
                            </div>
                            <div class="info col-md-3 noborder">
                                <p>Weight (kg)</p>
                                <h3>@a.Weight</h3>
                            </div>
                        </div>
                        
                        <div class="package_confirm">
                            <center><a href="@Url.Action("", "")">Details</a></center>
                        </div>
                    </div>
                </div>
            </div>
        }
        }
    </div>
</div>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ToAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ToAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
