<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai" rel="stylesheet">
    <script src="~/Scripts/customScripts.js"></script>
</head>
<body onScroll="navScroll()" onload="loading()">
    <div id="blur">
    </div>
    <div id="container">
        <div id="nav">
            <div id="left">
                <ul>
                    <li><a href="@Url.Action("Index","Home")" id="title">DeliverIT</a></li>
                    <li><a>About us</a></li>
                    <li><a>Help</a></li>
                    <li><a>Contact us</a></li>
                </ul>
            </div>
            <div id="right">
                <ul>
                    <li><a href="@Url.Action("Index","Application")" id="joinbutton">Join us</a></li>
                    <li><a href="@Url.Action("Index","Sender")" id="sendbutton">Send</a></li>
                </ul>
            </div>
        </div>
        <div id="mobilenav">
            <div id="pic" onclick="showMenu()">
            </div>
            <a id="title" href="@Url.Action("Index","Home")">DeliverIT</a>
            <a id="sendbutton" href="@Url.Action("Index","Sender")">Send</a>
            <a id="joinbutton"  href="@Url.Action("Index","Application")">Join us</a>
            <div id="hidden">
                <ul>
                    
                    <li onclick="goToAbout()"><a>About us</a></li>
                    <li><a>Help</a></li>
                    <li><a>Contact us</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div @(ViewBag.Title=="Home Page"?"id=bigTopCont class=bigEmptyBox":"id=topCont class=emptyBox")>
                <div @(ViewBag.Title=="Home Page"?"id=bigEmptyText":"id=emptyText")>
                    <p>Delivery made easy and fast</p>
                </div>
            </div>
            <div class="textBox">
                @RenderBody()
                <hr />
                <footer>
                    <p align="center">&copy; @DateTime.Now.Year - DeliverIT</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </div>
    </div>
</body>
</html>
