<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/custom")
</head>
<body>
    <div id="blur">
    </div>
    <div id="container">
        <div id="nav">
            <div id="left">
                <ul>
                    <li><a id="title">DeliverIT</a></li>
                    <li><a>About us</a></li>
                    <li><a>Help</a></li>
                    <li><a>Contact us</a></li>
                </ul>
            </div>
            <div id="right">
                <ul>
                    <li><a id="joinbutton">Join us</a></li>
                    <li><a id="sendbutton">Send</a></li>
                </ul>
            </div>
        </div>
        <div id="mobilenav">
            <div id="pic" onclick="showMenu()">
            </div>
            <a id="title">DeliverIT</a>
            <a id="sendbutton">Send</a>
            <a id="joinbutton">Join us</a>
            <div id="hidden">
                <ul>
                    <li id="placeHolder"></li>
                    <li onclick="goToAbout()"><a>About us</a></li>
                    <li><a>Help</a></li>
                    <li><a>Contact us</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div class="emptyBox" id="topCont">
                <p>Delivery made easy and fast</p>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </div>
    </div>
</body>
</html>
