<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeliverIT - 2018</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="~/Scripts/customScripts.js"></script>
</head>
<body onScroll="navScroll()" onload="loading()">
    <div id="blur">
    </div>
    <div id="container">
        <div id="nav">
            <div id="left">
                <ul>
                    <li><a href="@Url.Action("Index","Home")" id="title">DeliverIT</a></li>
                    <li><a href="@Url.Action("About","Home")">About us</a></li>
                    <li><a>Help</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact us</a></li>
                </ul>
            </div>
            <div id="right">
                <ul>
                    @if (Request.Cookies.Get("login") != null)
                    {
                        var proxy = new WebClientMVC.SenderServiceReference1.SenderServiceClient();
                        var currentUser = proxy.GetAllUsers().SingleOrDefault(x => x.Username == Request.Cookies.Get("login").Values["feketePorzeczka"]);
                        if (currentUser.AccountType == 1)
                        {
                            <li><a href="@Url.Action("Index", "Sender")">@currentUser.Username&nbsp;&nbsp;</a></li>
                            <li><a href="@Url.Action("Points", "Sender")">Points: @(proxy.GetBalanceByUsername(currentUser.Username))</a></li>
                        }
                        else if (currentUser.AccountType == 2)
                        {
                            <li><a href="@Url.Action("Index", "Application")">@currentUser.Username&nbsp;&nbsp;</a></li>
                            <li><a href="@Url.Action("Points", "Application")">Points: @(proxy.GetBalanceByUsername(currentUser.Username))</a></li>
                        }


                        if (currentUser.AccountType == 1)
                        {
                            <li><a href="@Url.Action("CreatePackage", "Sender")" id="sendbutton">Send</a></li>
                        }
                        else if (currentUser.AccountType == 2)
                        {
                            <li><a href="@Url.Action("Deliveries","Application")" id="sendbutton">Deliver</a></li>
                        }
                    }
                    else
                    {
                        <li><a href="@Url.Action("Create","Home")" id="joinbutton">Register</a></li>
                        <li><a href="@Url.Action("Login","Home")" id="sendbutton">Log in</a></li>
                    }
                </ul>
            </div>
        </div>
        <div id="mobilenav">
            <div id="pic" onclick="showMenu()">
            </div>
            <a id="title" href="@Url.Action("Index","Home")">DeliverIT</a>
            <a id="joinbutton" href="@Url.Action("Create","Home")">Register</a>
            <a id="sendbutton" href="@Url.Action("Login","Home")">Log in</a>
            <div id="hidden">
                <ul>
                    <li><a href="@Url.Action("About","Home")">About us</a></li>
                    <li><a>Help</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact us</a></li>
                </ul>
            </div>
        </div>
        @if (ViewBag.Title == "Delivery Requests")
        {
            <div class="modal" id="myModal" role="dialog" tabindex="-1" style="z-index:6000">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Package description</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="myModalBody">
                            
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-success" id="modalTake">Take</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div id="content">
            <div @(ViewBag.Title == "Home Page" ? "id=bigTopCont class=bigEmptyBox" : "id=topCont class=emptyBox")>
                <div @(ViewBag.Title == "Home Page" ? "id=bigEmptyText" : "id=emptyText")>
                    <p>Delivery made easy and fast</p>
                </div>
            </div>
            <div class="textBox">
                @RenderBody()
                <p><br /></p>
                <footer>
                    <p align="center">&copy; @DateTime.Now.Year - DeliverIT</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </div>
    </div>
    
</body>
</html>
